numpy 
pandas
opencv-python
django
django-rest_framework
django-sslserver
mysql-connector
nltk
scikit-image
fuzzywuzzy
datefinder
lxml
bs4
ip2geotools
wand
mysqlclient
django-ssl-auth
twython
wave



